<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Add new ingredient{% endblock %}
{% block content %}
<br>
<h3>Choose from existing ingredients</h3>
<form action="/add_ingredient" method="POST">
    <label for="choose">Ingredient:</label>
    <p><select name="ingredient" id="choose">
        {% for ingredient in ingredients %}
        <option value={{ingredient.0}},{{ingredient.1}}>{{ingredient.1}}</option>
        {% endfor %}
    </select></p>
    <p>Quantity: <input type="text" name="quantity" required></p>
    <input type="hidden" name="action" value="existing">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Choose ingredient">
</form>
<h3>or create a new ingredient</h3>
<form action="/add_ingredient" method="POST">
    <p>Ingredient name: <input type="text" name="ingredient" required> </p>
    <p>Quantity: <input type="text" name="quantity" required></p>
    <input type="hidden" name="action" value="new">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Add new ingredient">
</form>
<hr>
<a href="/">Return to front page</a>
{% endblock %}
