<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Edit recipe{% endblock %}
{% block content %}
<p>Log in</p>
Nimi + editointimahdollisuus
alkoholistatus + editointimahdollisuus
valikko jossa etsiä olemassaoleva aines
pakka jossa lisätä oma aines
Ohje-editori
<form action="/login" method="POST">
    <p>Recipe name:<br> <input type="text" name="title"> </p>
    <p>Cocktail or mocktail:<br> <input type=AAAAAAAAA choose from optionnnnnnnnnns how?> </p>
    <input type="submit" value="Next">
</form>

<a href="/">Return to front page</a>
{% endblock %}
