<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Edit recipe{% endblock %}
{% block content %}
<p>Log in</p>
<a href="/add_ingredient">Add an ingredient to the recipe</a>
<form action="/edit_recipe" method="POST">
    <p>Recipe name: <textarea name="title" rows="1" cols="50">{{name}}</textarea> </p>
    {% if alcohol == 0 %}
    <p><input type="radio" name="alcohol" value="1">cocktail
    <input type="radio" name="alcohol" value="0" checked>mocktail </p>
    {% else %}
    <p><input type="radio" name="alcohol" value="1" checked>cocktail
    <input type="radio" name="alcohol" value="0">mocktail </p>
    {% endif %}
    <p>Directions:<br>
    <textarea name="directions" rows="5" cols="50">{{directions}}</textarea></p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Save edit">
</form>

<a href="/">Return to front page</a>
{% endblock %}
