<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Frontpage{% endblock %}
{% block header %}All of your favourite cocktail and mocktail recipes{% endblock %}
{% block content %}
{% if id != 0%}
<a href="/add_recipe">Add a recipe</a>
<br>
<a href="/logout">Log out</a>
{% else %}
<p>Log in or register to use Mixological</p>
<br>
<a href="/login">Log in</a>
<br>
<a href="/register">Register</a>
{% endif %}
<br>
{% for recipe in recipes %}
    <hr>
    <form action="/" method="POST">
        {{recipe.1}}
        <br>
        <input type="hidden" name="recipe_id" value={{recipe[0]}}>
        <input type="submit" value="View recipe">
    </form>
    <br>
{% endfor %}
{% endblock %}
