<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}

<h2>{{title}}</h2>
{% if alcohol == 0%}
Mocktail
{% else %}
Cocktail
{% endif %}
<br>
Your rating: {{user_rating}}/5
<br>
<a href="/rate_recipe">Rate recipe</a>
<h4>Ingredients</h4>
{% for ingredient in ingredients %}
{{ingredient.2}}&emsp;{{ingredient.3}}<br>
{% endfor %}
<br>
<h4>Directions</h4>
<p>{{directions}}</p>
<br>
<a href="/edit_recipe">Edit recipe</a>
<hr>
<a href="/">Return to front page</a>
{% endblock %}
